<p> <%= t(".reset_hello_par") %> <%= @resource.email %>!</p>

<p> <%= t(".notify_req_par") %> </p>

<p><%= link_to t(".link_to_change_pass"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t(".notify_ignore_par") %> </p>
<p><%= t(".notify_access_link") %> </p>
