<p> <%= t(".unlock_hello_par") %> <%= @resource.email %>!</p>

<p> <%= t(".notify_locked_par") %> </p>

<p><%= t(".click_unlock") %> </p>

<p><%= link_to t(".link_to_unlock"), unlock_url(@resource, unlock_token: @token) %></p>
